button{
    padding: 4px;
    border-radius: 5px;
    border-width: 0.1px;
    width: 80px;
    height: 30px;
}
.button1:hover, .button5:hover, .button6:hover,.button7:hover {
    background-color: rgb(196, 196, 196);
    transition: 0.1s;
}
.button2{
    background-color: blueviolet;
    color: white;
    border-color: blueviolet;
}
.button2:hover {
    background-color: rgb(111, 11, 205);
    transition: 0.1s;
}

.button3{
    background-color: #1392d3;
    color: white;
    border-color: #1392d3;
}
.button3:hover {
    background-color: #0c6c9c;
    transition: 0.1s;
}
.button4{
    background-color:#d9534f;
    color: white;
    border-color: #d9534f;
}
.button4:hover {
    background-color: #c5312c;
    transition: 0.1s;
}
.button5{
   width: 100px;
   height: 45px;
   font-size: 20px;
}
.button6{
    width: 45px;
   height: 21px;
   font-size: 10px ;
}
.button7{
    width: 45px;
   height: 23px;
    border-radius: 50px;
    font-size: 11px ;
}
.button8{
    background-image: linear-gradient(to right, blueviolet, #1392d3);
    color: white;
    
}
.button8:hover{
    background-image: linear-gradient(to right, rgb(103, 21, 179), #0d6895);
    transition: 0.1s;
}
